/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/images/*.png
/public/images/*.jpg
/public/images/*.gif
/public/images/*.doc
/public/images/*.docx
/public/images/thumb/*
/public/images/big/*
/public/modules/*
/public/storage
/storage/*.key
/Modules
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
modules_statuses.json
.phpunit.result.cache
/.fleet
/.idea
/.vscode
